<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsxt.mapper.ClazzMapper">
	<!-- <cache readOnly="true"></cache> -->
	<select id="selClazz" resultType="com.bjsxt.pojo.Clazz">
	 	select * from clazz 
	</select>
	
	<delete id="deleteClazz">
		delete from clazz where clazzno = #{0}
	</delete>
	
	<delete id="deleteByClazzno">
		delete from clazz where clazzno in 
		<foreach collection="array" item="clazznos" open="(" separator="," close=")">
			#{clazznos}
		</foreach>
	</delete>	
	
	<insert id="insertClazz" parameterType="com.bjsxt.pojo.Clazz">
		insert clazz (dept,cname,clazzroom,chteacher) values(#{dept},#{cname},#{clazzroom},#{chteacher})
	</insert>
	
	<select id="selClazzByClazzno" parameterType="com.bjsxt.pojo.Clazz" resultType="com.bjsxt.pojo.Clazz">
		select * from clazz where clazzno = #{clazzno}
	</select>
	
	<update id="updateClazz" parameterType="com.bjsxt.pojo.Clazz">
		update clazz set dept=#{dept},cname=#{cname},clazzroom=#{clazzroom},chteacher=#{chteacher} where clazzno=#{clazzno}
	</update>
	
	

</mapper>